<div class="text-light" id="sidebarExtension" style="background-color: rgba(0,0,0,0.8);">
        <header class="text-center pt-4">
            <div class="large-icon  rounded-circle"><img class="rounded-circle" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=256" alt="<%= user.username %>"></div>
            <h4 class="pt-2"><%= user.username %><span class="text-muted">#<%= user.discriminator %></span></h4>
        </header>
    </div>